<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
		<!-- Code for button: <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li> 
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %} -->
		  
		  <!-- Buttons -->
	    
	      	<li class="title"><a href="#portfolio">Portfolio</a></li>
		<li class="title"><a href="#about">About Me</a></li>
		<li class="fork"><a href="https://github.com/danimilani" target="_blank">Github</a></li>
		<!--  <li class="fork"><a href="https://www.linkedin.com/in/daniella-milani/">LinkedIn</a></li>	-->
          </ul>
        </nav>
      </div><!-- end header -->
    
    	<hr/>
		
		<div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>
	      
							

	
	      
        <!-- Portfolio -->
			<article id="portfolio" class="wrapper style2">
				<div class="container">
					<header>
					<center><h1>Portfolio</h1></center>
					</header>
					<br/>
					<hr/>
					<br/>
					
					<!-- SQL START -->
					<h2>SQL Projects</h2>
					<br/>
					<div>
					<h3>American Baby Names</h3>				
					<p>Project in SQL to analyze how have American baby names changed since 1920 and understand the trends.</p>
					<a href="https://github.com/danimilani/SQL_baby_names" target="_blank" rel="noopener noreferrer">GitHub Link</a>								
					<br/>
					<br/>
					</div>
					<div>
					<h3>World's Oldest Business</h3>				
					<p>Project in SQL to explore a dataset of oldest companies that are still in business in almost every country in the world.</p>
					<a href="https://github.com/danimilani/SQL_Oldest_Business" target="_blank" rel="noopener noreferrer">GitHub Link</a>								
					<br/>
					<br/>
					</div>
					<div>
					<h3>The World's Bank International Debt Database</h3>				
					<p>Project in SQL to to analyze international debt data collected by The World Bank.</p>
					<a href="https://github.com/danimilani/debt_SQL" target="_blank" rel="noopener noreferrer">GitHub Link</a>								
					<br/>
					<br/>
					</div>	
					<!-- SQL END -->
					
								
					<br/>
					<hr/>
					<br/>
					
					<!-- PYTHON START -->
					<h2>Python Projects</h2>
					<br/>
					<div>
					<h3>Password Generator</h3>				
					<p>Project to create a password with random characters - combination of letters, numbers and special characters - with the length based on user's input.</p>
					<a href="https://github.com/danimilani/python_projects/blob/main/password_generator.py" target="_blank" rel="noopener noreferrer">GitHub Link</a>								
					<br/>
					<br/>
					</div>
					<div>
					<h3>QR Code Generator</h3>
					<p>Project to create a QR code based on the user's input.</p>
					<a href="https://github.com/danimilani/python_projects/blob/main/qrgenerator.py" target="_blank" rel="noopener noreferrer">GitHub Link</a>								
					<br/>
					<br/>
					</div>
					<div>
					<h3>Binary Search in Python</h3>
					<p>Project to demonstrate how the binary search works to find a given number in a list.</p>
					<a href="https://github.com/danimilani/python_projects/blob/main/bsearch.py" target="_blank" rel="noopener noreferrer">Github Link</a>							
					<br/>
					<br/>
					</div>
					<!-- PYTHON END -->
					
					
				</div>
			</article>
	      
	      <!-- Projects -->
			<article id="projects" class="wrapper style3">
				<div>
					<header>
						<br/>
						<hr/>
						<br/>
						<h2>Other Projects</h2>
						<br/>
						<p>Below are my other projects using HTML, CSS and Javascript</p>
					</header>
					<div>
						<div>
							<article>
								<h3><a>Bikcraft Project</a></h3>
								<p>Bike shop website, this was a project developed in the Web Design course by Origamid.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/bikcraft.JPG" alt="Bikcraft Website"/></a>
								<a href="https://danimilani.github.io/bikcraft/" target="_blank" rel="noopener noreferrer">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/bikcraft" target="_blank" rel="noopener noreferrer">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div>
							<article>
								<h3><a>Netflix Project</a></h3>
								<p>Project developed at Digital Innovation One's Bootcamp, this page is similar to the Netflix homepage and it mirrors some of its features.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/netflix.JPG" alt="Netflix Website"/></a>
								<a href="https://danimilani.github.io/projetonetflix/" target="_blank" rel="noopener noreferrer">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/projetonetflix" target="_blank" rel="noopener noreferrer">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div>
							<article>
								<h3><a>CSS FlexBox Project</a></h3>
								<p>Project developed on Origamid course to practice FlexBox.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/flexbox.JPG" alt="Flexbox Website"/></a>
								<a href="https://danimilani.github.io/CSSFlexbox/" target="_blank" rel="noopener noreferrer">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/CSSFlexbox" target="_blank" rel="noopener noreferrer">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div>
							<article>
								<h3><a>Instagram Landing Page</a></h3>
								<p>Project developed on Digital Innovation One's Bootcamp to mirror Instagram's landing page - web version.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/insta.JPG" alt="Instagram Website"/></a>
								<a href="https://danimilani.github.io/bootcampJavascriptDIOProj1/" target="_blank" rel="noopener noreferrer">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/bootcampJavascriptDIOProj1" target="_blank" rel="noopener noreferrer">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div>
							<article>
								<h3><a>Bootstrap Project</a></h3>
								<p>Project developed on Digital Innovation One's Bootcamp to practice Bootstrap.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/bootstrap.JPG" alt="Bootstrap Website"/></a>
								<a href="https://danimilani.github.io/aulabootstrap/" target="_blank" rel="noopener noreferrer">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/aulabootstrap" target="_blank" rel="noopener noreferrer">GitHub Link</a>
							</article>
						</div>
						
					</div>
					
				</div>
			</article>
<br>
<br>
<br>
<br>

	      <!-- About Me -->
			<article id="about" class="wrapper style1">
				<div>
					<div>
						<div>
							<header>
							<br/>
							<hr/>
							<hr/>
							<br/>
							<br/>
								<center><h1><strong>About Me</strong></h1></center>
							</header>
							<br/>
							<div align='center'>
							<img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/dani.jfif" width="300" 
     height="300" alt="Daniella"><br/>
							</div>											
							<br/>
							<br/>
							<p style="text-align:center">I'm a recent graduate of the Full Stack Bootcamp with Code First Girls. 
							Through this program, my passion for technology and coding has flourished and I could develop
								skills in SQL, Python, HTML, Javascript, CSS and much more. </p>
							<br/> 
							<p style="text-align:center">I have been a professional of the Financial Market for 10 years and I graduated in
							Business Administration and Accounting. I'm currently changing my career path to Technology and Data. 
							</p>
							<br/>
						</div>
					</div>
				</div>
			</article>
	      
	<div class="col-12">
							<hr />
							<h3>Find me on ...</h3>
							<ul class="social">
								<li><a href="https://www.linkedin.com/in/daniella-milani/" target="_blank" rel="noopener noreferrer" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://github.com/danimilani" target="_blank" rel="noopener noreferrer" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<!--
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
		
						</div>
					</div>      
      </section>

    </div>
  </body>
</html>
