<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
		<!-- Code for button: <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li> 
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %} -->
		  
		  <!-- Buttons -->
	    
	      	<li class="title"><a href="#portfolio">Portfolio</a></li>
		<li class="title"><a href="#projects">Projects</a></li>
		<li class="title"><a href="#about">About Me</a></li>
		<li class="fork"><a href="https://github.com/danimilani">Github</a></li>
		<li class="fork"><a href="https://www.linkedin.com/in/daniella-milani/">LinkedIn</a></li>	
          </ul>
        </nav>
      </div><!-- end header -->
    
    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

	
	      
        <!-- Portfolio -->
			<article id="portfolio" class="wrapper style2">
				<div class="container">
					<header>
						<h2>Portfolio</h2>
						<p>My Portfolio</p>
					</header>
					<div class="row aln-center">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="#"/></a>
								<h3>Title 1 - Under Construction</h3>				
								<p>Description
								<a href="#">GitHub Link</a>
								</p>
							</section>
						</div>
						<br><br>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="#"/></a>
								<h3>Title 2 - Under Construction</h3>
								<p>Description 
								<a href="#">GitHub Link</a>
								</p>
							</section>
						</div>
						<br><br>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="images/bike.webp"/></a>
								<h3>Title 3 - Under Construction</h3>
								<p>Description
								<a href="#">Github Link</a>									
								</p>
							</section>
						</div>
					</div>
					<footer>
						<p>Below are more repositories from projects involving HTML, CSS and Javascript.</p>						
					</footer>
				</div>
			</article>
	      
	      <!-- Projects -->
			<article id="projects" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Other Projects</h2>
						<p>Using HTML, CSS and Javascript</p>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<h3><a>Bikcraft Project</a></h3>
								<p>Bike shop website, this was a project developed in the Web Design course by Origamid.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/bikcraft.JPG" alt="Bikcraft Website"/></a>
								<a href="https://danimilani.github.io/bikcraft/">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/bikcraft">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<h3><a>Netflix Project</a></h3>
								<p>Project developed at Digital Innovation One's Bootcamp, this page is similar to the Netflix homepage and it mirrors some of its features.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/netflix.JPG" alt="Netflix Website"/></a>
								<a href="https://danimilani.github.io/projetonetflix/">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/projetonetflix">GitHub Link</a>
							</article>
						</div>
						<br /> <br />
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<h3><a>Bootstrap Project</a></h3>
								<p>Project developed on Digital Innovation One's Bootcamp to practice Bootstrap.</p>
								<a class="image featured"><img src="https://raw.githubusercontent.com/danimilani/danimilani.github.io/main/images/bootstrap.JPG" alt="Bootstrap Website"/></a>
								<a href="https://danimilani.github.io/aulabootstrap/">Website Link</a>
								<a href="#"> | </a>
								<a href="https://github.com/danimilani/aulabootstrap">GitHub Link</a>
							</article>
						</div>
						
					</div>
					
				</div>
			</article>
<br>
<br>
<br>
<br>

	      <!-- About Me -->
			<article id="about" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-4-medium col-12-medium">
							<span class="image fit"><img src="#"/></span>
						</div>
						<div class="col-8 col-7-medium col-12-medium">
							<header>
								<h1><strong>About Me</strong></h1>
							</header>
							<p>I'm a recent graduate of the Full Stack Bootcamp with Code First Girls. 
							Through this program, my passion for technology and coding has flourished and I could develop
								skills in SQL, Python, HTML, Javascript, CSS and much more.  
							I have been a professional of the Financial Market for 10 years and graduated in
								Business Administration and Accounting. 
							</p>
						</div>
					</div>
				</div>
			</article>
	      
	      
      </section>

    </div>
  </body>
</html>
