<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
		<li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}            	
          </ul>
        </nav>
      </div><!-- end header -->
    
    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

	<!-- Buttons -->
	    <ul>  
	      <li><a href="#portfolio">Portfolio</a></li>
		<li><a href="#projects">Projects</a></li>
		<li><a href="#about">About Me</a></li>
		<li><a href="#">Resume</a></li>
	      </ul>  
	      
        <!-- Portfolio -->
			<article id="portfolio" class="wrapper style2">
				<div class="container">
					<header>
						<h2>Portfolio</h2>
						<p>My Portfolio</p>
					</header>
					<div class="row aln-center">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="#"/></a>
								<h3>Title 1</h3>
								<p>Description
									<a href="#">GitHub Link</a>
								</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="#"/></a>
								<h3>Title 2</h3>
								<p>Description 
									<a href="#">GitHub Link</a>
								</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<a class="image featured"><img src="images/bike.webp"/></a>
								<h3>Title 3</h3>
								<p>Description
									<a href="#">Tableau Link ;</a>									
								</p>
							</section>
						</div>
					</div>
					<footer>
						<p>Below are more repositories from projects involving x, y, z</p>						
					</footer>
				</div>
			</article>
	      
	      <!-- Projects -->
			<article id="projects" class="wrapper style3">
				<div class="container">
					<header>
						<h2>More Projects</h2>
						<p>Using HTML, CSS and Javascript</p>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a class="image featured"><img src="#" alt="" /></a>
								<h3><a>Bikcraft Project</a></h3>
								<p>Bike shop website, this was a project developed in the Web Design course by Origamid.</p>
								<a href="https://github.com/danimilani/bikcraft">GitHub Link</a>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a class="image featured"><img src="images/earthquake.png" alt="" /></a>
								<h3><a>Netflix Project</a></h3>
								<p>Project developed at Digital Innovation One's Bootcamp, this page is similar to the Netflix homepage and it mirrors some of its features.</p>
								<a href="https://github.com/danimilani/projetonetflix">GitHub Link</a>

							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a class="image featured"><img src="#" alt="" /></a>
								<h3><a>Bootstrap Project</a></h3>
								<p>Project developed on Digital Innovation One's Bootcamp to practice Bootstrap.</p>
								<a href="https://github.com/danimilani/aulabootstrap">GitHub Link</a>
							</article>
						</div>
						
					</div>
					
				</div>
			</article>

	      <!-- About Me -->
			<article id="about" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-4-medium col-12-medium">
							<span class="image fit"><img src="#"/></span>
						</div>
						<div class="col-8 col-7-medium col-12-medium">
							<header>
								<h1><strong>About Me</strong></h1>
							</header>
							<p>I'm xx  Through this program I have discovered my passion for xx.  I have been a xx for x years and graduated x. .
							</p>
						</div>
					</div>
				</div>
			</article>
	      
	      
      </section>

    </div>
  </body>
</html>
